@import "styles/normalize.css";
html {
  font-family: "Play", sans-serif;
  font-size: 16px;
}

.wrapper {
  font-weight: 400;
  color: #292929;
}

.section {
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 940px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.phone__icon {
  width: 14px;
  height: 14px;
}

.phone__number {
  font-size: 18px;
  color: #292929;
}

.order-button {
  background-color: #E01F3D;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  padding: 21px 41px 21px 41px;
  border-radius: 100px;
  font-weight: 700;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F5F5;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 40px;
}

.logo__icon {
  width: 40px;
  height: 40px;
  fill: #E01F3D;
}

.navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .navigation__list {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation__list--collapsed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #333537;
  }
}

.navigation__link {
  font-family: "AlegreyaSans", sans-serif;
  color: #292929;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .navigation__link {
    color: #FFFFFF;
    font-family: "Play", sans-serif;
    font-size: 36px;
    line-height: 72px;
  }
}

.navigation-button {
  display: none;
}
@media screen and (max-width: 768px) {
  .navigation-button {
    display: inline;
  }
}

.info__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 47px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .info__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.info__content {
  margin-top: 47px;
  z-index: 1;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .info__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 90%;
  }
}

.info__title {
  max-width: 80%;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .info__title {
    font-size: 32px;
  }
}

.info__synopsis {
  margin-top: 22px;
  max-width: 80%;
  font-family: "AlegreyaSans", sans-serif;
  font-size: 21px;
}
@media screen and (max-width: 480px) {
  .info__synopsis {
    font-size: 18px;
  }
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  .info__list {
    display: none;
  }
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

.info__icon {
  width: 52px;
  height: 52px;
}

.info__text {
  margin-left: 11px;
}

.info__headphones {
  position: absolute;
  z-index: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .info__headphones {
    max-width: 323px;
    max-height: 323px;
    position: static;
  }
}

.info__order {
  margin-top: 36px;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  height: 24px;
}

.black-line {
  width: 22px;
  height: 0;
  border: 2px solid #292929;
  border-radius: 25%;
}

.grey-cross {
  display: none;
}

.grey-cross::before,
.grey-cross::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #F5F5F5;
  border-radius: 15%;
}

.grey-cross::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.grey-cross::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigation-button--active > .grey-cross {
  position: relative;
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.navigation-button--active > .burger {
  display: none;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 160px;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .header__contacts {
    display: none;
  }
}

.specification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
}

.specification__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specification__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specification__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .specification__title {
    font-size: 32px;
  }
}

.specification__subtitle {
  margin-top: 18px;
  max-width: 70%;
  text-align: center;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .specification__subtitle {
    max-width: 90%;
  }
}

.specification__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 62px;
}
@media screen and (max-width: 768px) {
  .specification__list {
    gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .specification__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 43px;
  }
}

.specification__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .specification__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: start;
  }
}

.specification__item:not(:last-child)::after {
  position: absolute;
  margin-left: 23%;
  margin-top: 50px;
  width: 67px;
  height: 21px;
  content: "";
  background: url("/beats-headphones/images/icons/sprite.svg#combined-shape");
}
@media screen and (max-width: 768px) {
  .specification__item:not(:last-child)::after {
    content: none;
  }
}

.specification__separator {
  margin-top: 50px;
}

.specification__separator-icon {
  width: 67px;
  height: 21px;
}

.specification__background-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 128px;
  height: 128px;
  background-color: #F5F5F5;
  border-radius: 50%;
}

.specification__icon {
  width: 68px;
  height: 68px;
}

.specification__content {
  max-width: 276px;
}
@media screen and (max-width: 480px) {
  .specification__content {
    margin-left: 12px;
    max-width: 100%;
  }
}

.specification__header {
  margin-top: 24px;
  font-weight: 700;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .specification__header {
    margin-top: 0;
  }
}

.specification__text {
  margin-top: 7px;
  font-size: 16px;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .specification__text {
    margin-top: 18px;
  }
}
@media screen and (max-width: 480px) {
  .specification__text {
    margin-top: 6px;
  }
}

.purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F5F5;
}

.purchase__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}
@media screen and (max-width: 768px) {
  .purchase__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.purchase__headphones {
  position: absolute;
  z-index: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  .purchase__headphones {
    max-width: 306px;
    max-height: 306px;
    position: static;
  }
}

.purchase__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 420px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .purchase__description {
    margin-top: 49px;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.purchase__button {
  width: 91px;
  height: 91px;
  background-color: #9A9A9A;
  border: none;
  border-radius: 4px;
  padding: 25px;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 768px) {
  .purchase__button {
    display: none;
  }
}

.purchase__list {
  position: absolute;
  width: 273px;
  height: 294px;
  border-radius: 4px;
  display: none;
  left: 91px;
  top: 0;
  background-color: #F8FAF9;
}

.purchase__button:hover > .purchase__list {
  display: inline;
}

.purchase__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 28px;
  margin-right: 25px;
  margin-left: 30px;
}

.purchase__point-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purchase__point-icon {
  margin-right: 18px;
  width: 24px;
  height: 24px;
}

.purchase__icon {
  width: 42px;
  height: 42px;
  fill: #FFFFFF;
}

.purchase__title {
  margin-top: 25px;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .purchase__title {
    text-align: center;
    font-size: 28px;
    margin-top: 0;
  }
}

.purchase__text {
  margin-top: 24px;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .purchase__text {
    margin-top: 14px;
    text-align: center;
  }
}

.purchase__options {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 60%;
}
@media screen and (max-width: 768px) {
  .purchase__options {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 44px;
  }
}

.purchase__option-subtitle {
  color: #666666;
}

.purchase__option-text {
  font-weight: 700;
  font-size: 18px;
}

.purchase__buying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  gap: 13px;
}
@media screen and (max-width: 768px) {
  .purchase__buying {
    gap: 44px;
  }
}
@media screen and (max-width: 480px) {
  .purchase__buying {
    gap: 13px;
  }
}

.purchase__price {
  font-size: 36px;
  color: #151515;
}
@media screen and (max-width: 480px) {
  .purchase__price {
    font-size: 32px;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .team__title {
    font-size: 32px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 53px;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .team__list {
    margin-top: 33px;
    gap: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .team__list {
    gap: 6px;
  }
}

.team__employee {
  max-width: 220px;
}
@media screen and (max-width: 768px) {
  .team__employee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .team__employee {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .team__photo {
    display: none;
    margin-top: 15px;
  }
}
@media screen and (max-width: 480px) {
  .team__photo {
    max-height: 180px;
    max-width: 138px;
  }
}

@media screen and (max-width: 768px) {
  .team__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .team__employee--active > .team__main > .team__photo {
    display: inline;
  }
}

.team__name {
  margin-top: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .team__name {
    margin-top: 0;
    font-size: 21px;
  }
}

.team__name::after {
  position: absolute;
  text-align: center;
  margin-top: 8px;
  margin-left: 3px;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 0 4.5px 7.8px 4.5px;
  border-color: transparent transparent #E01F3D transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media screen and (max-width: 768px) {
  .team__name::after {
    margin-top: 10px;
    border-color: transparent transparent #365A49 transparent;
  }
}

.team__info {
  display: none;
}

.team__employee--active > .team__info {
  display: inline;
}

.team__employee--active > .team__main > .team__name::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.team__profession {
  margin-top: 11px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .team__profession {
    font-size: 18px;
    font-weight: 700;
  }
}

.team__description {
  margin-top: 4px;
  text-align: center;
  color: #666666;
}

.colors {
  background-image: url("/beats-headphones/images/girl.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media screen and (max-width: 768px) {
  .colors {
    background-position: 95%;
  }
}
@media screen and (max-width: 480px) {
  .colors {
    background-position: 75%;
  }
}

.colors__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .colors__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    position: relative;
  }
}

.colors__header {
  margin-left: 84px;
  margin-top: 115px;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .colors__header {
    margin-left: 40px;
    margin-top: 91px;
  }
}
@media screen and (max-width: 480px) {
  .colors__header {
    margin-left: 10px;
    margin-top: 76px;
    font-size: 32px;
  }
}

.colors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colors__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}

.colors__name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 102px;
}
@media screen and (max-width: 480px) {
  .colors__name-wrapper {
    width: 90px;
  }
}

.colors__wrapper_silver {
  background-color: #999999;
}

.colors__wrapper_black {
  background-color: #292929;
}

.colors__wrapper_red {
  background-color: #E01F3D;
}

.colors__name {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.colors__description-wrapper {
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: #333537;
  opacity: 90%;
}

.colors__description {
  margin-top: 31px;
  margin-left: 38px;
  margin-right: 53px;
  font-family: "AlegreyaSans", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.colors__item--active > .colors__description-wrapper {
  overflow: visible;
  max-width: 524px;
  width: 90%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  body:has(.colors__item--active) .colors__header {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .colors__item--active {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 1;
  }
}

@media screen and (max-width: 480px) {
  .colors__item:not(.colors__item--active) {
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
}

.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__main-header {
  z-index: 1;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .reviews__main-header {
    font-size: 32px;
  }
}

.reviews__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  padding: 42px;
  width: 100%;
  background-color: #F8FAF9;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content {
    margin-top: 26px;
  }
}

@media screen and (max-width: 768px) {
  .reviews__photo-active {
    margin-top: 20px;
    width: 130px;
    height: 130px;
  }
}

.reviews__content::after {
  position: absolute;
  left: calc(50% - 41px);
  top: -61px;
  height: 83px;
  width: 83px;
  content: "";
  background-color: #FFFFFF;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .reviews__content::after {
    top: -48px;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content::after {
    content: none;
  }
}

.reviews__text {
  margin-top: 32px;
  margin-left: 40px;
  max-width: 600px;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__text {
    margin-top: 20px;
  }
}

.reviews__header {
  font-weight: 700;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .reviews__header {
    text-align: center;
  }
}

.reviews__description {
  margin-top: 27px;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .reviews__description {
    margin-top: 16px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .reviews__description {
    margin-top: 12px;
  }
}

.reviews__author {
  margin-top: 38px;
  font-weight: 700;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .reviews__author {
    margin-top: 16px;
    font-weight: 400;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .reviews__author {
    margin-top: 12px;
  }
}

.reviews__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  gap: 6px;
}
@media screen and (max-width: 768px) {
  .reviews__people {
    margin-top: 32px;
  }
}
@media screen and (max-width: 480px) {
  .reviews__people {
    margin-top: 54px;
  }
}

.reviews__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__person--active {
  border-radius: 104px;
  outline: 4px solid #E01F3D;
  outline-offset: -4px;
}

@media screen and (max-width: 480px) {
  .reviews__photo {
    width: 64px;
    height: 64px;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F8FAF9;
}

.work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .work__title {
    font-size: 32px;
  }
}

.work__video-player {
  margin-top: 44px;
  max-width: 662px;
}
@media screen and (max-width: 768px) {
  .work__video-player {
    margin-top: 40px;
    max-width: 594px;
  }
}
@media screen and (max-width: 480px) {
  .work__video-player {
    max-width: 394px;
  }
}

.ordering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #292929;
}

.ordering__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ordering__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .ordering__title {
    font-size: 32px;
  }
}

.ordering__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 26px;
  margin-top: 61px;
}
@media screen and (max-width: 768px) {
  .ordering__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 32px;
  }
}

.ordering__label {
  color: #FFFFFF;
}

.ordering__form-left {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .ordering__form-left {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .ordering__form-left {
    width: 95%;
  }
}

.ordering__form-row {
  margin-top: 10px;
}

.ordering__form-name-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.ordering__form-name-phone > label {
  width: 50%;
}

.ordering__form-name-phone > label > input {
  width: 100%;
}

.ordering__form-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}

.ordering__form-address > label {
  width: 25%;
}

.ordering__form-address > label > input {
  width: 100%;
}

.ordering__form-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .ordering__form-right {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .ordering__form-right {
    width: 95%;
  }
}

.ordering__form-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-top: 36px;
}
@media screen and (max-width: 768px) {
  .ordering__form-payment {
    margin-top: 22px;
  }
}
@media screen and (max-width: 480px) {
  .ordering__form-payment {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ordering__form-calling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  .ordering__form-calling {
    height: 36px;
    margin-top: 22px;
  }
}
@media screen and (max-width: 480px) {
  .ordering__form-calling {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ordering__label-radio, .ordering__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ordering__field {
  margin-top: 10px;
  height: 58px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .ordering__field {
    height: 36px;
    margin-top: 3px;
  }
}

.ordering__field:focus {
  outline: none;
  border: 2px solid #E01F3D;
}

.ordering__field-comment, .ordering__field-street {
  width: 100%;
}

.ordering__field-comment {
  height: 155px;
  resize: none;
}
@media screen and (max-width: 768px) {
  .ordering__field-comment {
    height: 82px;
  }
}

.ordering__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 44px;
}
@media screen and (max-width: 768px) {
  .ordering__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 36px;
  }
}

.cancel-button {
  color: #FFFFFF;
  margin-left: 15px;
}

#checkbox-checked > path {
  fill: #E01F3D;
}

.ordering__field-text {
  margin-left: 10px;
}

.ordering__field-checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.ordering__field-mark {
  display: none;
  width: 10px;
  height: 8px;
  background-image: url("/beats-headphones/images/mark.svg");
  background-repeat: no-repeat;
}

.ordering__field-checkbox, .ordering__field-radio {
  width: 0;
  height: 0;
}

.ordering__field-checkbox:checked + .ordering__field-mark {
  display: block;
}

.ordering__field-radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.ordering__field-radio-mark {
  display: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #E01F3D;
}

.ordering__field-radio:checked + .ordering__field-radio-mark {
  display: block;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 100%;
  width: 100%;
}

.contacts__map {
  background-image: url("/beats-headphones/images/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100%;
}

.footer {
  padding: 20px 54px 20px 86px;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 30px;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 20px 90px 31px 90px;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .contacts__info {
    text-align: center;
  }
}

.contacts__address {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .contacts__address {
    font-size: 21px;
  }
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 160px;
  gap: 5px;
  margin-top: 5px;
}
@media screen and (max-width: 480px) {
  .contacts__phone {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 12px;
  }
}

@media screen and (max-width: 768px) {
  .phone__number {
    color: #E01F3D;
  }
}

@media screen and (max-width: 768px) {
  .phone__icon {
    fill: #E01F3D;
  }
}

.contacts__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .contacts__social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    gap: 14px;
  }
}

.contacts__icon {
  width: 26px;
  height: 26px;
  fill: #B3B3B3;
}
@media screen and (max-width: 768px) {
  .contacts__icon {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 480px) {
  .contacts__icon {
    width: 24px;
    height: 24px;
  }
}

@font-face {
  font-family: "Play";
  src: url("fonts/Play-Bold.woff") format("woff"), url("./fonts/Play-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url("fonts/Play-Regular.woff") format("woff"), url("./fonts/Play-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AlegreyaSans";
  src: url("fonts/AlegreyaSans-Regular.woff") format("woff"), url("./fonts/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}