$color-black: #292929;
$color-white: #FFFFFF;
$color-grey: #666666;
$color-red: #E01F3D;
$color-light-grey: #F5F5F5;
$color-middle-grey: #9A9A9A;
$color-middle-black: #151515;
$color-silver: #999999;
$color-light-grey-background: #F8FAF9;
$color-black-background: #333537;
$color-icons-grey: #B3B3B3;
$color-dark-green: #365A49;

html {
  font-family: "Play", sans-serif;
  font-size: 16px;
}

.wrapper {
  font-weight: 400;
  color: $color-black;
}

.section {
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 940px;
  height: 100%;

  @include tablets {
    width: 90%;
  }
}
