.phone__icon {
  width: 14px;
  height: 14px;
}

.phone__number {
  font-size: 18px;
  color: $color-black;
}

.order-button {
  background-color: $color-red;
  color: $color-white;
  text-transform: uppercase;
  border: none;
  padding: 21px 41px 21px 41px;
  border-radius: 100px;
  font-weight: 700;
}
