.work {
  display: flex;
  justify-content: center;
  background-color: $color-light-grey-background;
}

.work__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__title {
  margin-top: 58px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}

.work__video-player {
  margin-top: 44px;
}
